<h1>Styleguide Start Page</h1>
<p class="text--accent">Lorem ipsum dolor sit amet.</p>
<p class="text--emphasized">Lorem ipsum dolor sit amet.</p>
<p class="text--standard">Lorem ipsum dolor sit amet.</p>
<p class="text--thin-large">Lorem ipsum dolor sit amet.</p>
<p class="heading--secondary">Lorem ipsum dolor sit amet.</p>
<p class="text--">Lorem ipsum dolor sit amet.</p>
<p class="text--">Lorem ipsum dolor sit amet.</p>
{% include 'styleguide/templates/render_patterns.twig' %}
