@mixin container() {
  @include gridle_row();
  display: block;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

@mixin row() {
  @include gridle_row();
}

@mixin container--narrow() {
  @include gridle_grid_centered();
  @include gridle(8);
}
