$font-family: Metric, Arial, Helvetica, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

$paragraph-font-size: 16px;
$medium-font-size: 18px;
$basic-font-size: 20px;
$header-font-size: 50px;
$header2-font-size: 30px;

$font-weight: 100;
$font-weight-medium: 400;
$font-weight-semiBold: 500;
$font-weight-bold: 700;

//primary colors
$main-red: #cf132f;
$main-dark: #0e1414;

//secondary colors
$secondary-dark: #303030;
$dark-gray: #4a4a4c;
$basic-gray: #898b8b;
$light-gray: #f4f4f4;
$secondary-red: #ac1329;

// border color
$border-gray: #9b9b9b;
