<div class="heading--primary">Headline primary</div>
<div>heading--primary</div><br>
<div class="heading--secondary">Headline secondary</div>
<div>heading--secondary</div><br>
<div class="heading--light">Headline light</div>
<div>heading--light</div><br>
<br>
<div class="text--accent">text accent</div>
<div>text--accent</div><br>
<div class="text--emphasized">text emphasized</div>
<div>text--emphasized</div><br>
<div class="text--standard">text standard</div>
<div>text--standard</div><br>
<div class="text--thin-large">text thin-large</div>
<div>text--thin-large</div><br>
<div class=""><span class="text--underline">text underline (underline style)</span></div>
<div>text--underline</div><br>

